function Fib 1
 push argument 0
 push constant 2
 lt
 if-goto Base
 push argument 0
 push constant 2
 sub
 call Fib.Fib 1 
 push argument 0
 push constant 1
 sub
 call Fib.Fib 1 
 add                        
 return
 label Base       
 push argument 0        
 return
